body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* ซ่อนปุ่ม VR Mode */
.a-enter-vr-button {
  display: none !important;
}

/* ปิดตัวแสกน Target */
.mindar-ui-overlay {
  display: none !important;
}

/* พื้นหลัง UI หลัก เต็มหน้าจอ */
.ui-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* ============== Camera UI ============== */
/* === Photo-Button === */
.photo-button {
  width: 80px;
  height: 80px;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.circle {
  position: absolute;
  top: 12%;
  left: 12%;
  bottom: 12%;
  right: 12%;
  border-radius: 100%;
  background-color: #ffffff;
  opacity: 1;
}
.ring {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  border: 0.3em solid #ffffff;
  opacity: 0.8;
}
.photo-button .circle,
.photo-button .ring {
  transition: all 0.25s;
}
.photo-button:active .ring {
  opacity: 1;
}
.photo-button:active .circle {
  opacity: 0.5;
}

/* === Switch Mode (Capture/Video) === */
.switch-button {
  position: absolute;
  right: 5%; /* ตำแหน่งมุมขวาล่าง */
  bottom: 5%;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

/* === Preview Result === */
#previewModal {
  position: fixed;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* ให้แน่ใจว่ามันอยู่ด้านบนสุด */
  border-radius: 10px;
}
/* ปุ่มดาวน์โหลด */
#downloadImage {
  position: absolute;
  bottom: -50px; /* ตั้งค่าตามที่ต้องการ */
  right: 10px;
}

/* ปุ่มแชร์ */
#shareImage {
  position: absolute;
  bottom: -50px;
  left: 10px;
}
#closePreview {
  position: absolute;
  top: -20px; /* หรือตั้งค่าที่ต้องการเพื่อให้อยู่นอกกรอบ */
  right: -20px;
  background: red;
  color: white;
  color: white;
}
